.content {
  height: 100%;
  width: 100%;
}

.titulo {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 20rem;
  z-index: 1000;
}

.nada {
  position: absolute;
  width: 100%;
  background: rgb(246, 197, 0);
  height: 10rem;
  top: 59.7rem;
}

.galleryContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.galleryContainer li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.galleryContainer li img {
  width: 30rem;
  height: 20rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.galleryContainer li p {
  font-size: large;
  padding: 1rem;
}

.galleryContainer li img:hover {
  transform: scale(1.1);
}
