@keyframes button{
  15% {
    background: rgb(228, 115, 115);
  }

  30% {
    background: rgb(252, 88, 88);
  }
  50% {
    background: white;
  }
  80% {
    background: transparent;
  }
}

.content {
  height: 100%;
  width: 100%;
}

.titulo {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 20rem;
  z-index: 1000;
}

.galleryContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.galleryContainer li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.galleryContainer li img {
  width: 30rem;
  height: 20rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.galleryContainer li p {
  font-size: large;
  padding: 1rem;
}

.galleryContainer li img:hover {
  transform: scale(1.1);
}

.formulario form {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#poggers {
  padding: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  background: linear-gradient(180deg, rgb(228, 115, 115), rgb(252, 88, 88));
  border: none;
  border-radius: 0.5rem;
  color: white;
}
option {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.buttonContainer {
  padding: 3px;
  background: linear-gradient(180deg, rgb(228, 115, 115), rgb(252, 88, 88));
  border-radius: 3px;
}

.buttonContainer button {
  height: 2.6rem;
  border: 0;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
}

.buttonContainer p {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  background-image: linear-gradient(
    180deg,
    rgb(228, 115, 115),
    rgb(252, 88, 88)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
