.container img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 85vh;
}

.textContainer {
  text-align: justify;
  margin: 1rem 0 1rem 1.5rem;
}
