.container img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 85vh;
}

#subTitle {
  text-align: center;
  margin: 0 0 2rem 0;
}

.textContainer {
  padding: 5rem;
  width: 100%;
}

.textContainer ul{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textContainer ul li{
  padding: 1rem;
  font-size: larger;
}

#xdd {
  margin-top: 4rem;
  text-align: center;
  font-size: larger;
}