main img {
  width: 100%;
  height: 576px;
}

.content {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20rem;
  left: 25%;
}

.textContainer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.str,
.prt {
  display: flex;
  flex-direction: row;
}

.str li,
.prt li {
  height: 15rem;
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  text-align: justify;
  border-radius: 1rem;
  text-decoration: none;
}

.last {
  color: black;
}
