div img {
    width: 100%;
    height: 576px;
}

.content {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20rem;
    left: 25%;
    background-color: black;
}

div hr {
    width: 2rem;
}

.textContainer ul{
    display: flex;
    flex-direction: column;
}