@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Rubik:wght@800&display=swap");

.bandeira {
  width: 100%;
  height: auto;
}

.cl h1 {
  color: white;
}

.imgContainer img {
  width: 50rem;
  height: 6rem;
}
