@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Rubik:wght@800&display=swap");

.bandeira {
  width: 100%;
  height: auto;
}

.cl h1 {
  color: white;
}

.imgContainer img {
  width: 50rem;
  height: 6rem;
}

.killxd {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.killxd h2 {
  text-align: center;
}

.killxd p {
  text-align: left;
  font-size: large;
  margin: 1rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content li {
  margin: 1rem 0 1rem 1rem;
}

.content li p strong {
  color: rgb(246, 197, 0);
}

span {
  color: rgb(246, 197, 0);
}

h2 {
  padding: 1rem;
}
