@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Rubik:wght@800&display=swap");

.bandeira {
  width: 100%;
  height: auto;
}

.cl h1 {
  color: white;
}

.imgContainer img {
  width: 50rem;
  height: 6rem;
}

.killxd {
  margin: 4% 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.killxd h2 {
  text-align: center;
}

.killxd p {
  text-align: justify;
  font-size: large;
  margin: 3rem;
}

.tabela {
  margin: 5rem 0 5rem 0;
}

.tabela table strong {
  font-size: x-large;
  color:rgb(246, 197, 0);
}

span {
  color: rgb(246, 197, 0);
}

h2 {
  padding: 1rem;
}
